<%= image_tag "logo.gif", size:"130x70", alt: "Fisheries Engineering"%>

<nav class="menubar">
    <ul>
        <%= menu_link_to "TOP", :root%>
        <%= menu_link_to "News", "#"%>
        <%= menu_link_to "Blog", "#"%>
        <%= menu_link_to "Member", "#"%>
        <%= menu_link_to "Setting", "#"%>
        <%= menu_link_to "Membership list", :members %>
    </ul>
</nav>
